A:link {COLOR: #787878; TEXT-DECORATION: none}
A:visited {COLOR: #787878; TEXT-DECORATION: none}
A:hover {COLOR: #787878; TEXT-DECORATION: underline}
UNKNOWN {FONT-SIZE: 9pt; COLOR: #787878; LINE-HEIGHT: 150%}
TH {FONT-SIZE: 9pt; COLOR: #787878; LINE-HEIGHT: 150%}
TD {FONT-SIZE: 9pt; COLOR: #787878; LINE-HEIGHT: 150%}
TR {FONT-SIZE: 9pt; COLOR: #787878; LINE-HEIGHT: 150%}
P {COLOR: #787878; LINE-HEIGHT: 150%}
DIV {FONT-SIZE: 9pt; COLOR: #787878; LINE-HEIGHT: 150%}
